<div>
<div class="container">
    <h1 style="text-align: center; margin: 5px;">CART ID : {{cart._id}}</h1>
    <h2 id="headerEmpty" style="visibility: hidden;" empty="{{empty}}">Carrito Vacio</h2>
    <ul id="cartProducts">
        {{#each products}}
            <li style="display: flex; justify-content: space-around;">
                <p>{{this.product.title}}</p>
                <p>ID: {{this._id}}</p>
                <p>Cantidad: {{this.quantity}}</p>
                <p>Precio x Unidad: {{this.product.price}}</p>
                <p>$ {{this.subtotal}}</p>
            </li>
        {{/each}}
    </ul>
    <p>Total: {{cart.total}}</p>
</div>
<a href="/api/carts/{{cart._id}}/purchase"><button id="purchase">Finalizar Compra</button></a>
<button id="empty" idCart="{{cart._id}}">Vaciar Carrito</button></a>
<a href="/products"><button>Volver a la Tienda</button></a>
</div>
<script src="/js/deleteCart.js"></script>