<div class="container">    
    <h1>Compra Realizada Con Éxito</h1>
    <p>Ticket ID: {{ticket.code}}</p>
    <p>Fecha y Hora: {{ticket.purchase_datetime}}</p>
    <p>Total: ${{ticket.amount}}</p>
    <p>Su factura será enviada a: {{ticket.purchaser}}</p>
    <br>
    {{#if ticket.insufficientStockProducts}}
    <h5>¡Atención!</h5>
    <p>Compra realizada parcialmente por stock insuficiente de uno o más productos.</p>
    <p>Los productos que no pudieron comprarse quedarán en el carrito.</p>
    {{/if}}
    <a href="/carts/{{user.cart}}"><button>Volver al Carrito</button></a>
</div>